# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.json
*.xlsx

# Model and vectorizer files
*.pkl
*.joblib
*.h5

# spaCy and NLTK data files
**/spacy_data/
nltk_data/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db
